*

{box-sizing: border-box; }
.header {
  padding: 25px;
  background-color: #DCE2BD;
  max-height: 10px;
  max-width: 1000px; 
    
}
h1 { 
text-align: center; 
font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}
h2 {
  text-align: center; 
font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  position: relative;
}

h3 {
  text-align: center; 
font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  position: relative;
}

body {
  background-color: #D4CDAB
  
}
p {
	text-align: center; 
font-family: 'Permanent Marker', cursive;
  position: relative;
	
}

div.textbox {
  background-color: #93C0A4;
  width: calc(100%/2 - 10px);
  Display: inline-block;
  float: left;
  margin-right: 10px;
  min-width: 200px;
  max-heigth: 50px;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  

}
#h1banner {
  position: relative;
  
}
img {
  image-align: center;
  display: block;
  width: 550px;
  height: 300px;
  position: relative;
}


